body,
h1,
h2 {
    margin: 0;
    padding: 0;
    font-family: 'Avenir Next Cyr';
}

ul {
    padding: 0;
    margin: 0;
}
li {
    list-style-type: none;
}

.containerMasters_PopupCase {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    /* padding: 15px; */
}

.itemClass{
    width: 100%;
    /* width: 100%;
    height: 100%; */
}
.react-multi-carousel-track {
    /* height: 65vh; */
    height: 400px;
}
.react-multi-carousel-item {
    border-radius: 5px;
    overflow: hidden;
}

.dotListClass_PopupCase {
    bottom: 19px;
}

.dotListClass_PopupCase .react-multi-carousel-dot button {
    width: 8px;
    height: 8px;
    border: none;
    margin-right: 15px;
}

.input-customize-option {
    margin-right: 10px;
    max-width: 40px;
}

.form-modal{
    max-width: 800px;
}

.heading{
    text-align: center;
    font-weight: 700;
    margin:50px;
}
.listcompanies{
    width: 100%!important;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    border-radius: 10px;
    padding: 50px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    height: 500px;
    gap: 60px;
}
.btn1 {
    width: 70%;
    height: 100px;
    border-radius: 5px;
    border: none;
    outline: none !important;
    background: rgb(226, 51, 51);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    cursor: pointer;
}

li {
    font-size: 1.5rem;
    color:white;
    text-decoration: none;
}

.custom_modal{
    width: 600px; 
    height: 300px;
    text-align: center;
    color: rgb(229, 112, 112);
    border-radius: 17px;
}
